:root
{
    --img_nr    : 5;
}
header
{
    flex-basis: 10%;
}

#carousel .image
{
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 35%;
}

#carousel .image.active
{
    display: inline-block;
}

#prev, #next
{
    font-size: 3rem;
    cursor: pointer;
    color: white;
    transition: all 20ms;
}

#prev:active, #next:active
{
    color:blue;
    font-size: 4rem;
}



#thumbnail
{
    width: 60%;
    height: 10%;
    align-self: center;
}

#thumbnail .image
{
    width: calc(90% / var(--img_nr));
    height: 80%;  
    object-fit: cover; 
    object-position: center 35%;
    opacity: 0.3;
    cursor: pointer;
}

#thumbnail .image.active
{
    opacity: 1;
    border: 3px solid blue;
}